<md-card class="col-md-10 col-md-offset-1 md-pos md-custom-shadow">
  <form class="form-inline" [formGroup]="investorDetailForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="sr-only" for="age">Age</label>
      <input type="text" class="form-control" id="age" placeholder="Age" formControlName="age">
    </div>
    <div class="form-group">
      <label class="sr-only" for="salary">Salary</label>
      <input type="text" class="form-control" id="salary" placeholder="Salary" formControlName="salary">
    </div>
    <button type="submit" class="btn btn-default">Calculate tax</button>
  </form>
  <!--<div class="col-md-6">
    <button [routerLink]="['/tax-detail']">Next</button>
  </div>-->
  <div class="col-md-6">
    <button (click)="navigateBack()">Back</button>
  </div>
</md-card>
